@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --color-particle: #f4faff;
}

:root {
  --color-particle: #111927;
}

@layer components {
  h2 {
    @apply text-center text-3xl font-semibold text-blue-12 dark:text-bluedark-12;
  }
  .icon {
    @apply h-7 w-7 cursor-pointer text-blue-12 dark:text-bluedark-12;
  }

  li {
    @apply text-blue-12 dark:text-bluedark-12 cursor-pointer;
  }

  .anim--link {
    position: relative;
    overflow-x: clip;
  }

  .anim--link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    @apply bg-blue-8 dark:bg-bluedark-8;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.3s;
  }

  .anim--link:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .name--light {
    background: #113264;
    background: linear-gradient(to right, #113264 40%, #8ec8f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .name--dark {
    background: #c2e6ff;
    background: linear-gradient(to right, #c2e6ff 40%, #205d9e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .badge {
    @apply relative z-10 cursor-pointer hover:bg-blue-11;
  }

  .input {
    @apply rounded-lg px-2 py-1 dark:text-bluedark-1 border-2 border-solid border-blue-7 dark:border-bluedark-7 focus:outline-blue-8 dark:focus:outline-bluedark-8;
  }
  .label--input {
    @apply flex flex-col gap-3;
  }

  .description {
    @apply text-xl text-blue-12 dark:text-bluedark-12 leading-relaxed mb-4 text-justify indent-10;
  }

  .sdw {
    @apply shadow-[0_6px_35px_-10px_rgba(17,50,100,1)];
  }
  .sdw-dark {
    @apply shadow-[0_6px_35px_-18px_rgba(142,200,246,0.8)];
  }
}
